body{
  font-family: "Roboto", sans-serif;
}
.form-control:focus {
    border-color: #98bffa;
    box-shadow: 0 0 0 .3rem rgba(65, 115, 190, 0.35);
}

.card img{
  height: 150px;
  object-fit: contain;
}